# ==========================================
# Variáveis de Ambiente (Configurações)
# ==========================================

# Credenciais do Banco de Dados PostgreSQL (Preenchido para ambiente local)
DB_USER=postgres
DB_PASS=postgres

# Credenciais do Painel pgAdmin (Preenchido para ambiente local)
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASS=admin

# Integração Módulo IA (Google Gemini)
# Insira sua API Key do Google AI Studio
GEMINI_API_KEY=
